<div class="container">
  <div class="wrapper-for-details">
    <div class="details">
      <span class="item">
        Name: <span>{{details.name}}</span>
      </span>
      <span class="item">
        Phone: <span>{{details.phone}}</span>
      </span>
      <span class="item">
        Date: <span>{{details.date | date:'HH:mm | dd/MM/yy'}}</span>
      </span>
      <span class="item">
        Price: <span>{{details.price}}</span>
      </span>
    </div>
    <div class="status">
      <mat-icon>thumb_up</mat-icon>
    </div>
  </div>
</div>