.header {
  width: calc(100% - 60px);
  height: auto;
  padding: 10px 30px;
  background: #f85151;
  font-family: 'Sofia';
  font-size: 22px;
  font-weight: 900;
  color: white;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.3);
  .book-place {
    font-family: 'Amaranth';
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,0.08);
    }
  }
}

.wrapper {
  width: 100%;
  min-height: 100% !important;
  overflow-y: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .description {
    width: 100%;
    padding: 40px 0px;
    padding-bottom: 50px;
    .wrapper-descr {
      border-left: 5px solid rgb(0, 199, 0);
      width: 100%;
      padding-left: 10px;
      line-height: 1.5;
      font-family: 'Anaheim';
      font-size: 1.2em
    }
  }

  .block-for-images {
      width: 100%;
      height: auto;
      padding: 30px 0px;
      padding-top: 10px;
      mat-grid-tile {
        .wrapper-fo-img {
          width: calc(100% - 10px);
          height: calc(100% - 10px);
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
        }
        .img {
          width: 100%;
          height: calc(100% - 40px);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .details-panel {
          width: calc(100% - 40px);
          height: 40px;
          padding: 0px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0 2px 3px -2px rgb(88, 88, 88);
          font-family: 'Anaheim';
          font-size: 1em;
          font-weight: 1000;
          color: rgb(53, 53, 53);
          mat-icon {
            width: auto;
            height: auto;
            cursor: pointer;
            font-size: 1.2em;
          }
          .panel-for-like {
            display: flex;
            align-items: center;
            justify-content: center;
            .quantity-likes {
              padding-left: 7px;
            }
          }
        }
      }
  }

  .container {
    max-width: 800px;
    width: calc(60% - 64px);
    min-height: 100%;
    height: auto;
    padding: 32px;
    padding-top: 87px;
    background: white;

    .our-master {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      // .wrapper-for-photo {
      //   width: 100px;
      //   height: 100px;
      //   background: white;
      //   border-radius: 50%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      // }

      .info-button {
        color: rgb(94, 94, 94);
        cursor: pointer;
        &:hover {
          color: rgb(0, 119, 255);
        }
      }

      .data-of-master {
        color: rgb(61, 61, 61);
        padding-left: 15px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        .name {
          color: black;
          font-family: 'Amaranth';
          font-size: 1.2em;
        }
        .icons {
          font-size: 1em;
          display: flex;
          justify-content: flex-start;
          color: rgb(94, 94, 94);
          mat-icon {
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
              transform: scale(1.1);
            }
          }
          .analytic {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 20px;
            span {
              display: block;
              margin-left: 7px;
              color: rgb(61, 61, 61);
            }
          }
        }
      }

      .photo-of-master {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 1px gray;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .wrapper-for-line {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      mat-divider {
        width: 100%;
        border-color: rgba(0,0,0,0);
        border-width: 3px
      }
      .title-our-works {
        min-width: 170px;
        font-family: 'Archivo';
        font-weight: 400;
        width: auto;
        color: rgb(53, 53, 53);
        text-align: center;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100% !important;
    .wrapper-for-photo {
      width: 78px !important;
      height: 78px !important;
    }
    .photo-of-master {
      width: 70px !important;
      height: 70px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .book-place {
    display: none !important;
  }
}
