<div class="header">
  <span>Beautiful eyelashes</span>
  <span class="book-place">Book a place</span>
</div>
<div class="wrapper">
  <div class="container">
    <div class="our-master">
      <div class="wrapper-info">
        <div class="wrapper-for-photo">
          <div class="photo-of-master">
            <img src="assets/images/master.png" alt="Our master">
          </div>
        </div>
        <div class="data-of-master">
          <span class="name">Boguslava Martsin</span>
          <div class="icons">
            <div class="analytic">
              <mat-icon>thumb_up</mat-icon>
              <span>15</span>
            </div>
            <div class="analytic">
              <mat-icon>visibility</mat-icon>
              <span>70</span>
            </div>
          </div>
        </div>
      </div>
      <mat-icon class="info-button">info</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <h2 class="title-our-works">Our works</h2>
  </div>
</div>
